<!DOCTYPE html>
<html lang="en">
<header>
    <script defer src="http://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</header>
<head>
    <title>HackNotts 2020 - Home</title>
    {% include "StaticPages/navbar.html" with auth=user.is_authenticated %}
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">HackNotts</h1>
        <h2 class="subtitle">Use our cool software</h2>
    </div>
</section>
</body>
</html>