<!DOCTYPE html>
<html lang="en">
<header>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</header>
<head>
    <title>HackNotts 2020</title>
    {% include "StaticPages/navbar.html" with auth=user.is_authenticated %}
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Money Saving Tips!
            </h1>
            <h2 class="subtitle">
                Get your finance in order!
            </h2>
        </div>
    </div>
</section>
<section class="section is-info">
    <div class="container">
        <div class="content">
            <p>
                <b>Transfer your debt:</b> If you're making large interest payments on debt, it might make financial sense to transfer it all onto a credit card with a 0% balance transfer deal.
                These credit cards won't charge any interest on transferred debts for a set period, giving you the opportunity to repay any money owed at no extra cost.
                However, the interest tends to skyrocket at the end of the promotional period, so make sure you pay off the balance in full before this happens.
                The Which? Money Compare credit card comparison tables let you search all available cards, from providers large and small, to choose the best deals, based on the quality of service as well as cost and benefits.
                <br><br>
                <b>Use price comparison websites:</b> Price comparison websites let you compare hundreds of financial products and ensure you choose the best one for your circumstances.
                Whether you're looking to buy car insurance, credit cards or a broadband bundle, there is normally a huge difference between the cheapest and most expensive providers, so it's worth browsing for the best offers on these websites.
                The Which? Money Compare tables go beyond just comparing rates. You can also see how thousands of people rate providers for the quality of their service, with our unique customer scores.
                <br><br>
                <b>Use personal finance software:</b> Personal finance software can help you track where your money is going, making it easier to see where you can make potential savings.
                Many packages allow you to set savings goals, and some will even suggest a clear path towards hitting them. Others can highlight your spending habits in detailed reports, as well as letting you monitor all of your bank accounts and investments in real-time.
                This can be particularly useful if you tend to go into debt by spending more than you earn, or if you are struggling to save up for a major purchase.
                <br><br>

                <b>Learn to haggle:</b> Which? research has proven that you can reduce the cost of most products and services by haggling over the price. However, many consumers are too nervous to even try.
                Our guide takes the mystery out of haggling by revealing how much money you can save by negotiating over services. It suggests tips for haggling with retailers, car dealers, travel agents and many other service providers. We even provide scripts to help improve your chances of securing a discount.
                <br><br>

                <b>Get a car insurance refund:</b> Some car insurers have offered refunds to customers since coronavirus has changed driving habits so drastically. 
                If you’re with Admiral, you should have received £25 credit at the end of May. As an LV customer you may be able to claim £20 to £50 if you’ve been made unemployed, or otherwise suffered financially as a result of the pandemic. 
                Even if your insurer isn’t offering refunds, if you’ve found yourself driving less this year, calling them or going online to reduce your annual mileage could get you a cheaper premium.
                <br><br>

                <b>Install insulation:</b> Up to a third of heat disappears through the roof, so it makes sense to add insulation. Installing loft insulation if you don’t have it already could save you £130 per year in energy bills. 
                From September 2020, you’ll be able to get up to £5,000 of vouchers for green energy-saving home improvements from the government if you live in England.
                <br><br>

                <b>Council tax reclaiming:</b> The council tax system in England & Scotland is fundamentally flawed; many people are in the wrong band. It only takes 10 minutes to check if you're one of them. If you are, dropping a band will save you £200 a year. Read the full Council Tax Reclaiming guide.
                <br><br>

                <b>Free House Price Info:</b> Property companies use expensive tools to get the full lowdown on houses. Yet you can find similar info on the 'net for free. The Free House Price Valuations article shows you where to go to get the best property info for now.
            </p>
        </div>
        <p>Source Martin Lewis via <a href="https://www.moneysavingexpert.com/">Money Saving Expert</a></p>
    </div>
</section>
</body>
</html>