<!DOCTYPE html>
<html lang="en">
<header>
    <script defer src="http://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script type="text/javascript" src="http://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {

            var categories = {
                incoming: {
                    depth: 0,
                    data: [
                        [
                            ['Incoming', 'Amount'],
                            ['Shrek Inc', 1000],
                            ['HackNotts', 1337],
                            ['Twilio API', 100]
                        ],
                        [
                            ['Breakdown for Shrek Inc', 'Amount'],
                            ['Transaction 1', 100],
                            ['Transaction 2', 900]
                        ],
                        [
                            ['Breakdown for HackNotts', 'Amount'],
                            ['Refund for Bribe', 1337],

                        ],
                        [
                            ['Breakdown for Twilio API', 'Amount'],
                            ['I ran out of funny things', 100]
                        ]
                    ]
                },
                outgoing: {
                    depth: 0,
                    data: [
                        [
                            ['Outgoing', 'Amount'],
                            ['Playstation', 100000],
                            ['Tescos', 0.01]
                        ]
                    ]
                },
                pending: {
                    depth: 0,
                    data: [
                        [
                            ['Pending', 'Amount']
                        ]
                    ]
                },
                declined: {
                    depth: 0,
                    data: [
                        [
                            ['Declined', 'Amount']
                        ]
                    ]
                }
            }

            const data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work', 8],
                ['Eat', 2],
                ['TV', 4],
                ['Gym', 2],
                ['Sleep', 8]
            ]);

            console.log(data.getValue(1, 1))

            // Optional; add a title and set the width and height of the chart
            const options = {
                width: 550,
                height: 400,
                backgroundColor: 'transparent',
                pieHole: 0.4,
                color: 'white',
                animation: {
                    duration: 1000,
                    easing: 'in'
                },
                pieSliceText: 'value'
            };

            // Display the chart inside the <div> element with id="piechart"
            ['incoming', 'outgoing', 'pending', 'declined'].forEach(p => {
                let chart = new google.visualization.PieChart(document.getElementById(p));
                let data = new google.visualization.arrayToDataTable(categories[p]["data"][0]);
                chart.draw(data, options);
                google.visualization.events.addListener(chart, 'select', () => {
                    const selectedItem = chart.getSelection()[0];
                    if (selectedItem != null) {
                        const value = data.getValue(selectedItem.row, 0);
                        document.getElementById("breakdown-title").innerHTML = "Breakdown for " + p + " " + value;
                        document.getElementById("breakdown").classList.remove("is-invisible", "is-hidden");
                        chart.draw(new google.visualization.arrayToDataTable(categories[p]["data"][1 + selectedItem.row]), options);
                    }
                });
            })
        }
    </script>
</header>
<head>
    <title>HackNotts 2020</title>
    {% include "StaticPages/navbar.html" %}
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Welcome Back, Ryan</h1>

    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="subtitle">Credit Score</h1>
        <progress class="progress is-small is-info" value="90" max="999"></progress>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column notification is-success" style="height: 100%;">
                <p class="subtitle">Incoming</p>
                <div id="incoming"></div>
            </div>
            <div class="column box notification is-danger" style="height: 100%;">
                <p class="subtitle">Outgoing</p>
                <div id="outgoing"></div>
            </div>
        </div>
    </div>
</section>
<section class="section is-invisible is-hidden" id="breakdown">
    <div class="container">
        <h1 class="title" id="breakdown-title">Breakdown</h1>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column notification is-warning" style="height: 100%;">
                <p class="subtitle">Pending</p>
                <div id="pending"></div>
            </div>
            <div class="column box notification is-gray" style="height: 100%;">
                <p class="subtitle">Declined</p>
                <div id="declined"></div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p>
    </div>
</section>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>Made by Ryan Arrowsmith, powered by <a href="https://bulma.io/">Bulma.io</a></p>
    </div>
</footer>
</html>