<!DOCTYPE html>
<html lang="en">
<header>
    <script defer src="http://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script type="text/javascript" src="http://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {

            let transactionsList = JSON.parse(document.getElementById("list_contents").innerText);
            console.log(transactionsList);

            let categories = {
                incoming: {
                    depth: 0,
                    data: [
                        [
                            ['Incoming', 'Amount'],
                            ['Shrek Inc', 1000],
                            ['HackNotts', 1337],
                            ['Twilio API', 100]
                        ],
                        [
                            ['Breakdown for Shrek Inc', 'Amount'],
                            ['Transaction 1', 100],
                            ['Transaction 2', 900]
                        ],
                        [
                            ['Breakdown for HackNotts', 'Amount'],
                            ['Refund for Bribe', 1337],

                        ],
                        [
                            ['Breakdown for Twilio API', 'Amount'],
                            ['I ran out of funny things', 100]
                        ]
                    ]
                },
                outgoing: {
                    depth: 0,
                    data: [
                        [
                            ['Outgoing', 'Amount'],
                            ["McFairbank", 56.66],
                            ["CatShoes", 50.48],
                            ["Masalas", 111],
                            ["Capital Two", 222]
                        ],
                        [
                            ['Breakdown for Playstation', 'Amount'],
                            ['Imagine paying for a monthly membership lul', 100000]
                        ]
                    ]
                },
                pending: {
                    depth: 0,
                    data: [
                        [
                            ['Pending', 'Amount']
                        ]
                    ]
                },
                declined: {
                    depth: 0,
                    data: [
                        [
                            ['Declined', 'Amount']
                        ]
                    ]
                }
            }

            let successfulTrans = {};

            transactionsList.forEach(transaction => {
                console.log(transaction[0] + " " + transaction[1]);
                console.log(transaction[4]);
                let cat = transaction[4].toLowerCase();
                if (cat === "successful") {
                    cat = "outgoing";
                }
                // console.log(new Array(categories[cat]["data"][0]));
                // categories[cat]["data"][0] = new Array(categories[cat]["data"][0]).push([transaction[0], transaction[1]]);
                if (successfulTrans[transaction[0]] == null) {
                    successfulTrans[transaction[0]] = transaction[1];
                } else {
                    successfulTrans[transaction[0]] += transaction[1];
                }
            });
            console.log(successfulTrans);

            // Optional; add a title and set the width and height of the chart
            const options = {
                width: 550,
                height: 400,
                backgroundColor: 'transparent',
                pieHole: 0.4,
                color: 'white',
                animation: {
                    duration: 1000,
                    easing: 'in'
                },
                pieSliceText: 'value'
            };

            // Display the chart inside the <div> element with id="piechart"
            Object.keys(categories).forEach(p => {
                let chart = new google.visualization.PieChart(document.getElementById(p));
                let data = new google.visualization.arrayToDataTable(categories[p]["data"][0]);
                if (p === "outgoing") {
                    let pushh = [['Outgoing', 'Amount']];
                    Object.keys(successfulTrans).map(a => pushh.push([a, successfulTrans[a]]));
                    console.log(pushh);
                    data = new google.visualization.arrayToDataTable(pushh);
                }
                data.sort([{column: 1}]);
                chart.draw(data, options);
                google.visualization.events.addListener(chart, 'select', () => {
                    const selectedItem = chart.getSelection()[0];
                    if (selectedItem != null) {
                        const depth = categories[p].depth;
                        if (depth === 0) {
                            const value = data.getValue(selectedItem.row, 0);
                            console.log(p);
                            document.getElementById("breakdown-title").innerHTML = "Breakdown for " + p.replace(p.charAt(0), p.charAt(0).toUpperCase()) + " " + value;
                            document.getElementById("breakdown").classList.remove("is-invisible", "is-hidden");
                            chart.draw(new google.visualization.arrayToDataTable(categories[p]["data"][1 + selectedItem.row]), options);
                            categories[p].depth = 1;
                        } else {
                            document.getElementById("breakdown").classList.add("is-invisible", "is-hidden")
                            chart.draw(new google.visualization.arrayToDataTable(categories[p]["data"][0]), options);
                            categories[p].depth = 0;
                        }
                    }
                });
            });
        }
    </script>
</header>
<head>
    <title>HackNotts 2020</title>
    {% include "StaticPages/navbar.html" with auth=True %}
</head>
<body>
<section id="list_contents" class="is-hidden is-invisible">
    {{json_list}}
</section>
<section class="section">
    <div class="container">
        <h1 class="title">Welcome Back, Ryan</h1>

    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="subtitle">Credit Score</h1>
        <progress class="progress is-small is-info" value="90" max="999"></progress>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column notification is-success" style="height: 100%;">
                <p class="subtitle">Incoming</p>
                <div id="incoming"></div>
            </div>
            <div class="column box notification is-danger" style="height: 100%;">
                <p class="subtitle">Outgoing</p>
                <div id="outgoing"></div>
            </div>
        </div>
    </div>
</section>
<section class="section is-invisible is-hidden" id="breakdown">
    <div class="container">
        <h1 class="title" id="breakdown-title">Breakdown</h1>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column notification is-warning" style="height: 100%;">
                <p class="subtitle">Pending</p>
                <div id="pending"></div>
            </div>
            <div class="column box notification is-gray" style="height: 100%;">
                <p class="subtitle">Declined</p>
                <div id="declined"></div>
            </div>
        </div>
    </div>
</section>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>Made by Ryan Arrowsmith, powered by <a href="https://bulma.io/">Bulma.io</a></p>
    </div>
</footer>
</html>